
@{
    ViewBag.Title = "Financial Resources";
}
<nav class="breadcrumb">
	<ol class="breadcrumb">
		<li><a href="@Url.Action("Index","Home")">Home</a></li>
		<li class="active">Financial Resources</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-6">
		<h2>Resources for Parents</h2>
		<p><a class="btn btn-default" Target="_blank" href="http://time.com/money/4616756/make-your-kid-an-investing-genius/">Article: Make Your Kids An Investing Genius &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="https://www.thebalance.com/top-tips-to-teach-your-kids-about-investing-4115938">Article: 10 Tips To Teach Investing To Kids &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="https://www.consumerfinance.gov/consumer-tools/money-as-you-grow/">Article: Money As You Grow &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="http://www.savingforcollege.com/">Article: Saving For College &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="http://www.cefe.illinois.edu/links/#links13">Even More Links For Parents! &raquo;</a></p>
		<img src="~/Content/images/growingmoney.jpg" alt="Growing Money" height="150" />

	</div>
	<div class="col-md-6">
		<h2>Kids and Money</h2>
		<p><a class="btn btn-default" Target="_blank" href="https://monetta.com/educational-games.html">Moneta Games About Savings and Investing &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="https://www.usmint.gov/kids/games/index.html">Hip Pocket Change Games From The US Mint &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="https://www.treasurydirect.gov/kids/games/games.htm">Treasury Direct Games &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="http://www.piggybank.co.uk/">Oink Online: Money Matters For Kids &raquo;</a></p>
		<hr />
		
		<h2> Teens And Money</h2>
		<p><a class="btn btn-default" Target="_blank" href="https://www.smgww.org/">Compete In The Stock Market Game &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="http://www.themint.org/teens/compounding-calculator.html">Compounding Interest Calculator &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="http://socialfunds.com/">Invest For Good: Social Investing &raquo;</a></p>
		<p><a class="btn btn-default" Target="_blank" href="https://www.daveramsey.com/blog/how-teens-can-become-millionaires">Article: How Teens Become Millionaires &raquo;</a>
	</div>
	
</div>
<div>
	<p><a href="@Url.Action("Index", "Home")">Return To Home Page</a></p>
</div>


